html,
body {
  background: white;
  font-family: serif;
}

a,
button.link {
  color: inherit;
}

a:hover,
a:focus,
button.link:hover,
button.link:focus {
  background-color: #f0f0f0;
}

header a {
  text-decoration: none;
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

body {
  max-width: 1024px;
  margin: 0 auto;
}

.page-wrapper {
  padding: 1em;
  display: grid;
  grid-template-columns: 20% auto;
  column-gap: 3em;
  grid-template-areas:
    "header header"
    "sidebar main";
}

header {
  grid-area: header;
  min-height: 3em;
}

nav {
  grid-area: sidebar;
}

nav ul:first-child {
  margin-top: 0;
}

main p:first-child {
  margin-top: 0;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

main {
  grid-area: main;
}

details > summary {
  padding: 0.5em;
  cursor: pointer;
  list-style: none;
}

details > summary + div {
  margin-top: 1em;
  margin-bottom: 1em;
}

details:not([hidden]) ~ details:not([hidden]) {
  border-top: 1px solid black;
}

details > summary:hover,
details > summary:focus {
  background-color: #f0f0f0;
}

summary.project {
  display: grid;
  grid-template-columns: 40% 25% 25% 10%;
}

summary.project > span:last-child {
  text-align: right;
}

ul.comma-separated {
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
}

ul.comma-separated > li {
  display: inline;
}

ul.comma-separated > li:not(:last-child)::after {
  content: ", ";
}

/* https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

input[type="text"] {
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input[type="text"]:focus {
  outline: none;
}

button.link {
  font-family: inherit;
  font-size: inherit;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background: inherit;
  padding: 0;
}

project-search-sidebar:not([active]) {
  display: none;
}

.project-full-details {
  display: grid;
  grid-template-areas: "description pictures";
  grid-template-columns: auto 50%;
  gap: 1em;
}

.project-description {
  grid-area: description;
}

.project-pictures {
  grid-area: pictures;
}

.project-pictures img {
  width: 100%;
  height: auto;
}
